
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: fit-content;
}
nav {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: #2e403d;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 300px;
    width: auto;
}
.nav_links {
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-around;
    align-items: center;

}
.nav_links li {
    list-style-type: none;
    display: inline-block;

}
.nav_links li a {
    text-decoration: none;
    color: #fafafa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 40px;

}
.nav_links li a:hover {
    text-decoration: overline;
    color: #43a2cf;
    transition: .8s;
}
button {
    cursor: pointer;
    border: none;
    padding: 6px 20px;
    border-radius:  50px;
    background: #43a2cf;
    color: #fafafa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 80px;
    transition: .4s;
}
button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0 auto;
}

.gallery {
    border: 5px dashed black;
    margin: 32px 32px;
    display: flex;
    flex-wrap:  wrap;
    padding: 0 4px;
}
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
.column img {
    width: 100%;
    /* margin: calc(5%/5); */
    margin-top: 8px;
    vertical-align: middle;
}

.column img:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: .4s ease-in;
}

@media (width < 500px){
    .nav_links,
    nav {
        flex-direction: column;
    }

}

