
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #2e403d;
    align-items: center;
    justify-content: space-around;
    
}
nav {
    width: 70%;
}
.logo {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    line-height: 200px;
}
.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_links li {
    list-style-type: none;
    display: inline-block;

}
.nav_links li a {
    text-decoration: none;
    color: #fafafa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 20px;

}
.nav_links li a:hover {
    text-decoration: overline;
    color: #43a2cf;
    transition: .8s;
}
button {
    cursor: pointer;
    border: none;
    padding: 12px 30px;
    border-radius:  30px;
    background: #43a2cf;
    color: #fafafa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    transition: .4s;
}
button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

main {
    width: 100%;

}

.gallery {
    
}
img {
    width: 30%;
    margin: calc(5%/5);
}